<header>

    <nav class="navbar">
      <div class="nav-brand">
        <a routerLink="/">{{ title }}</a>
      </div>
      
      
      <div class="nav-links">
        <a routerLink="/">Home</a>
        <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
        <a routerLink="/search" routerLinkActive="active">Search</a>
          <a routerLink="/my-books" routerLinkActive="active" *ngIf="isLoggedIn">My Books</a>
          <a routerLink="/create-book" routerLinkActive="active" *ngIf="isLoggedIn">Create New Book</a>
      </div>
      
      <div class="nav-auth">
          <button (click)="logout()" class="logout-btn" *ngIf="isLoggedIn">Logout</button>
          <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
          <a routerLink="/register" routerLinkActive="active" *ngIf="!isLoggedIn">Register</a>
      </div>
    </nav>
  </header>